<launch>
  <arg name="bag_name" default="V1_01_easy.bag"/>
  <node pkg="vins"
    type="vins_bag_reader"
    name="vins_node"
    output="screen">
    <param name="~left_image_topic" value="/cam0/image_rect"/>
    <param name="~right_image_topic" value="/cam1/image_rect"/>
    <param name="~imu_topic" value="/imu0"/>
    <rosparam command="load" file="$(find vins)/config/vo_param.yaml"/>
    <!--<rosparam command="load" file="$(find vins)/config/camchain-imucam-snapdragon.yaml"/>-->
    <rosparam command="load" file="$(find vins)/config/camchain-imucam-euroc.yaml"/>
    <param name="bag_file" value="$(find vins)/bagfiles/$(arg bag_name)"/>
    <remap from="~cam" to="odom_vio"/>
  </node>
</launch>
