<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find sdd_vio)/config/custom_rosconsole.conf"/>
  <arg name="debug" default="false"/>

  <node pkg="nodelet"
    type="nodelet"
    name="standalone_nodelet"
    args="manager"
    output="screen"
    launch-prefix="gdb -ex run --args"
    if="$(arg debug)"/>

  <node pkg="nodelet"
    type="nodelet"
    name="standalone_nodelet"
    args="manager"
    output="screen"
    unless="$(arg debug)"/>

  <node pkg="nodelet" type="nodelet" name="left_rectify" args="standalone image_proc/rectify" ns="/stereo/left">
    <remap from="image_mono" to="image_raw"/>
  </node>
  <node pkg="nodelet" type="nodelet" name="right_rectify" args="standalone image_proc/rectify" ns="/stereo/right">
    <remap from="image_mono" to="image_raw"/>
  </node>

  <node pkg="nodelet"
    type="nodelet"
    name="sdd_vio_node"
    args="load sdd_vio/SddVioNodelet standalone_nodelet"
    output="screen">
    <remap from="~cam_topic_left" to="/stereo/left/image_rect"/>
    <remap from="~cam_topic_right" to="/stereo/right/image_rect"/>
    <remap from="~imu_topic" to="/imu"/>
    <remap from="~cam" to="odom_vio"/>
    <rosparam command="load" file="$(find sdd_vio)/config/vo_param_snapdragon.yaml"/>
    <rosparam command="load" file="$(find sdd_vio)/config/camchain-imucam-snapdragon.yaml"/>
  </node>

  <!-- UKF -->
  <!--
  <node pkg="quadrotor_ukf"
    type="quadrotor_ukf"
    name="quadrotor_ukf"
    output="screen">
    <rosparam file="$(find sdd_vio)/config/ukf_params.yaml"/>
    <remap from="~odom_vio" to="odom_vio"/>
    <remap from="~imu" to="imu"/>
    <remap from="~control_odom" to="/dragonfly10/odom"/>
  </node>
  -->

</launch>
